---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPills from "../components/SocialPills.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
---

<Layout title="Design system portfolio">
  <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>

      <Badge>Tailwind</Badge>
      <Badge>Tailwind</Badge>
    </article>

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;SocialPill /&gt;</h1>
      <di class="flex">
        <SocialPills href="*">
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPills>
      </di>
    </article>
  </SectionContainer>
</Layout>
