---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPills from "../components/SocialPills.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Github from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="Porfolio Practices.">
  <main>
    <SectionContainer>
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
        alt="porfolio photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Lorem ipsum dolor<a
          href="*"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>consectetur</Badge>
        </a>
      </h1>

      <h2 class="text-2xl text-wrap opacity-80">
        <span class="opacity-80">Lorem ipsum dolor sit,</span> amet consectetur adipisicing
        elit. <span class="text-yellow-200/90"
          >Quae nam quam earum odio harum omnis aliquam laborum at ipsum?</span
        >
        Provident. Lorem ipsum dolor sit, amet consectetur adipisicing elit.<span
          class="opacity-85"
        >
          Quae nam quam earum odio harum omnis aliquam laborum at ipsum?
          Provident.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPills href="*">
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPills>

        <SocialPills href="*">
          <Github class="size-6" />
          Github
        </SocialPills>

        <SocialPills href="*">
          <MailIcon class="size-6" />
          email@example.com
        </SocialPills>
      </nav>
    </SectionContainer>

    <SectionContainer>
      <Experience />
    </SectionContainer>
  </main>
</Layout>

<style></style>

<!-- 
53:00 -->
