---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "March 02",
    title: "Application UI code",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores fuga consequatur eligendi animi laudantium itaque reprehenderit nulla odit quia?",
  },
  {
    date: "July 15",
    title: "Example 02",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores fuga consequatur",
  },
  {
    date: "November 15",
    title: "Example 03",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores fuga consequatur eligendi animi laudantium itaque reprehenderit nulla odit quia?",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
